@media (prefers-color-scheme: dark) {
  :root{
    --main-color: #FF0070;
    --second-color: #F1B2CE;
    --third-color: #000028;
    --title-color: #DB00FF;
    --background-color: #000028;
    --block-color: #FF0070;
    --text-color: #000028;
    --second-text-color: #F1B2CE;
<<<<<<< HEAD
    --cover-image: url(../images/cover-image-dark.png);
=======
    --cover-image: url(/images/cover-image-dark.png);
>>>>>>> 30665858b9df1315b76bdfd5ee52455864446b8f
  }
}

.page.theme_dark {
  --main-color: #FF0070;
  --second-color: #F1B2CE;
  --third-color: #000028;
  --title-color: #DB00FF;
  --background-color: #000028;
  --block-color: #FF0070;
  --text-color: #000028;
  --second-text-color: #F1B2CE;
<<<<<<< HEAD
  --cover-image: url(../images/cover-image-dark.png);
=======
  --cover-image: url(/images/cover-image-dark.png);
>>>>>>> 30665858b9df1315b76bdfd5ee52455864446b8f
}