.page {
  margin: 0;
  background-color: var(--background-color);
  min-width: 100%;
}

.header {
  display: grid;
  position: relative;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 768px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  gap: 10px;
}

.header__theme-menu-button {
  position: relative;
  min-height: 26px;
  padding: 0 13px;
  color: var(--main-color);
  text-align: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-size);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--main-color);
}

.header__theme-menu-button:focus {
  position: relative;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.section__artcle-text-link:hover {
  text-decoration: underline var(--second-color);
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--main-color);
  border-block-start: 1px solid var(--main-color);
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--main-color);
  border-block-end: 1px solid var(--main-color);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.rec-label {
  display: grid;
  position: absolute;
  align-items: center;
  gap: 1px;
  grid-template-columns: 1fr 9px;
  justify-self: end;
  text-transform: uppercase;
  color: #ff0070;
  margin-inline-end: 30px;
  top: 21px;
  right: 1px;
}

.rec-label::before {
  content: "rec";
  color: #ff0070;
  font-family: var(--main-font);
  font-size: var(--main-size);
  text-transform: uppercase;
  padding-right: 8px;
}

.rec-label::after {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ff0070;
  box-shadow: 0px 0px 4px 3px #ff0070;
}

.header__title {
  display: grid;
  align-items: end;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: var(--main-font);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0px #ff0070;
  padding-top: 13px;
}

.header__text-block {
  display: grid;
  padding: 20px;
  margin-block-start: 55px;
  font-weight: 700;
  height: fit-content;
}

.header__text {
  justify-self: end;
  background-color: var(--block-color);
  width: 491px;
  font-family: var(--main-font);
  font-size: var(--main-size);
  color: var(--text-color);
  line-height: 23.4px;
}

.section__first {
  display: flex;
}

.section__title {
  display: grid;
  color: var(--main-color);
  line-height: 23.4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--main-size);
}

.main__title-first {
  padding: 60px 20px;
  min-width: 355px;
  font-size: 18px;
}

.article-first {
  padding-top: 60px;
  padding-right: 20.19px;
}

.main__title-second {
  width: 315px;
  padding: 60px 20px 0 20px;
}

.article-second {
  display: flex;
  width: 100%;
  padding: 20px;
}

.main__title-third {
  padding: 62px 0 0 20px;
  min-width: 355px;
}

.article-third {
  padding-top: 60px;
  padding-right: 20px;
}

.title-decor {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--block-color);
  font-size: var(--main-size);
}

.section__second {
  padding: 20px 0 0 0;
}

.section__article-item {
  display: grid; 
  gap: 10px;
}

.section__article-list {
  display: grid;
  gap: 20px;
}

.section__article-text {
  width: 100%;
  color: var(--second-text-color);
  font-family: var(--main-font);
  font-size: var(--main-size);
  line-height: 23.4px;
  /* padding: 0 0 20px 0; */
}

.padding__none {
  padding-bottom: 0;
}

.section__artcle-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--block-color);
  outline: none;
  margin: 0;
}
.section__third {
  display: flex;
}

.section__image-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas:
      "a a b"
      "c d b"
      "c e e";
}

.section__content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__images {
  padding: 80px 20px 20px 20px;
  grid-auto-rows: auto;
  height: auto;
}

.image__item {
  display: block;
  box-sizing: content-box;
  object-fit: cover;
  object-position: center;
  padding-top: 20px;
  block-size: 100%;
  inline-size: 100%;
}

.first-image {
  grid-area: a;
  width: 100%;
  height: 260px;
}

.second-image {
  grid-area: b;
  width: 100%;
  height: 595px;
}

.third-image {
  grid-area: c;
  width: 100%;
  height: 768px;
  padding-top: 0;
}

.fourth-image {
  grid-area: d;
  width: 100%;
  height: 315px;
  padding-top: 0;
}

.fifth-image {
  grid-area: e;
  width: 100%;
  height: 428px;
  padding-top: 6px;
}

.section__artcle-text-link:focus {
  margin: 0;
  transform: none;
  outline: none;
}

.section__artcle-text-link:focus-visible {
  border: 1px solid currentColor;
  margin: -1px;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 100vh;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: clamp(7.5625rem, 0.7772rem + 14.1176vw, 9.8125rem);
  color: var(--title-color);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px #ff0070;
}

@media (max-width: 768px) {
  .header {
      background-size: cover;
      min-height: 1024px;
      background-position: 100%;
      max-width: 768px;
  }
  .header__theme-menu-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  .header__theme-menu {
      display: grid;
      justify-self: end;
      align-items: center;
      padding-right: 20px;
      margin-block-start: 119px;
  }
  .header__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
      padding-top: 40px;
      align-items: center;
      
  }
  .header__text-block {
      justify-self: end;
      align-items: start;
      padding: 20px 2.8% 78px 10px;
      
      margin-block-start: 63px;
  }
  .header__text {
      width: 364px;
  }
  .article-first {
      padding-top: 60px;
      padding-right: 2.629vw;
  }
  .article-second {
      padding: 20px;
  }

  .article-third {
    padding-right: 2.629vw;
  }

  .section__content-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  .section__title {
      font-size: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
  }
  .main__title-first {
      min-width: 276px;
  }
  .section__article-item {
    width: 100%;
  }
  .section__article-title {
      width: 100%;
      font-size: 2.34vw;
  }
  .section__article-text {
      width: 100%;
      font-size: 2.34vw;
  }
  .main__title-second {
      width: 236px;
  }
 
  .main__title-third {
      min-width: 276px;
  }
 
  .section__images {
      padding: 83px 20px 0 20px;
      grid-auto-rows: auto;
      width: 100%;
      height: auto;
  }
  .first-image {
      width: 100%;
      height: 192px;
  }
  .second-image {
      width: 100%;
      height: 441px;
  }
  .third-image {
      width: 100%;
      height: 568px;
      padding-top: 0;
  }
  .fourth-image {
      width: 100%;
      height: 230px;
      padding-top: 0;
  }
  .fifth-image {
      width: 100%;
      height: 318px;
      padding-top: 0;
  }
  .footer {
      height: 1024px;
      width: 100%;
      max-width: 768px;
      margin-top: 61px;
  }
}
@media (max-width: 375px) {
  .page {
    min-width: 375px;
    width: 100%;
    
  }
  .header {
      background-size: cover;
      min-width: 375px;
      width: 100%;
      min-height: 668px;
      height: 100%;
  }
  .header__theme-menu {
      display: grid;
      justify-self: end;
      align-items: start;
      padding-right: 10px;
      padding-top: 42px;
      margin-block-start: 13px;
  }
  .decorated-zone::before {
      top: 10px;
      right: 10px;
  }
  .decorated-zone::after {
      bottom: 10px;
      left: 10px;
  }
  .rec-label {
      top: 11px;
      right: -10px;
  }
  .rec-label::after {
      top: 8px;
      right: -20px;
  }
  .header__title {
      font-size: 116px;
      padding-left: 9px;
      line-height: 82.5%;
      padding-top: 55px;
  }
  .header__text-block {
      justify-self: start;
      height: fit-content;
      margin-block-start: 55px;
      padding: 0 0 59px 10px;
  }
  .header__text {
      width: 355px;
  }
  .section__article-title {
    width: 375px;
    max-width: 355px;
    font-size: 18px;
}
  .section__article-text {
      width: 100%;
      max-width: 355px;
      font-size: 18px;
  }
  .section__first {
      display: grid;
  }
  .section__second {
      display: grid;
  }
  .section__third {
      display: grid;
  }
  .article-first {
      padding-top: 0px;
      padding-left: 10px;
      padding-right: 0;
  }
  .article-second {
      padding: 10px;
      gap: 20px;
  }
  .article-third {
      padding: 21px 0 0 10px;
  }
  .main__title-first {
      width: 355px;
      padding: 40px 10px 20px 10px;
      font-size: clamp(1rem, 1rem + 0.5348vw, 1.125rem);
  }
  .main__title-second {
    padding: 31px 11px 11px 11px;
      width: 355px;
      font-size: clamp(1rem, 1rem + 0.5348vw, 1.125rem);
      line-height: 23.4px;
  }
  .main__title-third {
      width: 360px;
      padding: 41px 0 0 10px;
      font-size: clamp(1rem, 1rem + 0.5348vw, 1.125rem);
      line-height: 23.4px;
  }

  .section__images {
      padding-left: 10px;
      padding-top: 50px;
  }
  .section__image-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      grid-template-areas:
          "a"
          "b"
          "c"
          "d"
          "e";
  }
  .image__item {
      display: block;
      box-sizing: content-box;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      width: 354.999px;
  }
  .first-image {
      width: 100%;
      height: 142px;
      padding-top: 10px;
  }
  .second-image {
      height: 100%;
      padding-top: 0;
  }
  .third-image {
      height: 237px;
  }
  .fourth-image {
      height: 355px;
  }
  .fifth-image {
      width: 100%;
      height: 237px;
  }
  .footer {
      margin-top: 43px;
      width: 375px;
      max-height: 667px;

  }
  .footer__title {
      font-size: 116px;
  }
}
