:root {
  --main-color: #FF0070;
  --second-color: #F1B2CE;
  --third-color: #000028;
  --title-color: #DB00FF;
  --background-color: #000028;
  --block-color: #FF0070;
  --text-color: #000028;
  --second-text-color: #F1B2CE;
  --cover-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex Mono', sans-serif;
  --main-size: 18px;
}
